

<div class="container">
    <!-- HEADER -->
    <header class="header">
      <div class="logo">Darun Dental Care</div>
      <nav>
        <ul class="nav-links">
          <li><a routerLink="/" routerLinkActive="active">Home</a></li>
          <li><a routerLink="/about" routerLinkActive="active">About</a></li>
          <li><a routerLink="/services" routerLinkActive="active">Services</a></li>
          <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
        </ul>
      </nav>
    </header>
  
    <!-- MAIN CONTENT -->
    <main class="content">
    <router-outlet />
    </main>
  
    <!-- FOOTER -->
    <footer class="footer">
      <p>&copy; 2025 Darun Dental Care | All Rights Reserved</p>
    </footer>
  </div>
  
